<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel='stylesheet' href='/style.css'>
</head>
<body>
  <nav>
    <div class="navigation">
    <ul>
      <li> <a href='/pizzas'> Pizza Orders </a> </li>
      <li> <a href='/pizzas/new'> New Order</a> </li>
    </ul>
  </div>
  </nav>
  <%= yield %>
</body>
</html>
